<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/vm_create.js') }}" defer></script>
    <title>Document</title>
</head>

<body>

    <h1>Virtual Machine Creation</h1>
    <h3>Netbox VM Registration</h3>

    <form method="POST" action="/api/netbox/virtualization/post">
        <div>
            <label for="vm_name">Name: </label>
            <input id="vm_name" name="vm_name">
        </div>
        
        <div>
            <label for="vm_description">Description: </label>
            <input id="vm_description" name="vm_description">
        </div>
        
        <div>
            <label for="netbox_sites">Site: </label>
            <select id="netbox_sites" name="netbox_sites">
                {% for site in netbox_sites %}
                    <option value="{{ site }}">{{ site }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="proxmox_nodes">Node: </label>
            <select id="proxmox_nodes" name="proxmox_nodes">
                {% for node in proxmox_nodes %}
                    <option value="{{ node }}">{{ node }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="proxmox_isos">ISOs: </label>
            <select id="proxmox_isos" name="proxmox_isos">
                <!-- Options will be populated dynamically based on the selected node -->
            </select>
        </div>
        
        <div>
            <button type="submit">Create</button>
        </div>
    
    </form>

</body>

</html>